textarea {
    min-height: 400px;
}

.background-white {
    background-color: white;
}

.background-grey {
    background-color: grey;
}

.email-list-item {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 16px;
    margin-bottom: 1px;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}